

/*Universal Selector*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background-color: rgb(185, 179, 179);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*Header*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(185, 179, 179);
    height:50px;
    justify-content: space-around;
    align-items: center;
    
}

header h1 {
    font-size:20px;
    margin:5px;
    padding: 10px;
    background-color: rgb(33, 33, 144);
    font-family: cursive;
    border:#05010e solid 6px;
    text-decoration: none;
}

header h1 a {
    padding-top: 20px;
    color:rgb(2, 6, 14);
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    padding:0 20px;
    text-decoration: none;
    color: rgb(33, 33, 144);
    display: inline-block;
}

ul li a:hover {
    background-color: tan;
}

/*Profile*/
.flex-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.bio h2 {
    font-size: 34px;
    color: rgb(33, 33, 144);
    text-align: center;
}

.bio p {
    font-size: 30px;
}

.profile {
    flex: 0 1 0;
}

.profile img {
    max-height: 400px;
    max-width: 300px;
    border:rgb(33, 33, 144) solid 10px;
    margin: 10px;
}

/*Run Buddy*/
#run-buddy h2 {
    font-weight: 600;
    font-size: 30px;
    color: yellow;
    text-align: center;
}

.run-buddy-web img {
    display: block;
    border: 10px solid yellow;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.run-buddy-web img:hover {
}


/*Media Queries*/

@media screen and (max-width: 575px) {
    .flex-container {
        flex-wrap:wrap;
        justify-content: center;
        }

    .flex-container h2 {
        text-align:center;
    }

    
}