

/*Universal Selector*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
    background-color: rgb(185, 179, 179);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*Header*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(185, 179, 179);
    height:50px;
    justify-content: space-around;
    align-items: center;
    
}

header h1 {
    font-size:20px;
    margin:5px;
    padding: 10px;
    background-color: rgb(33, 33, 144);
    font-family: cursive;
    border:#05010e solid 6px;
    text-decoration: none;
}

header h1 a {
    padding-top: 20px;
    color:rgb(2, 6, 14);
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    padding:0 20px;
    text-decoration: none;
    color: rgb(33, 33, 144);
    display: inline-block;
}

ul li a:hover {
    background-color: tan;
}

/*Profile*/
.flex-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.bio h2 {
    font-size: 34px;
}

.bio p {
    font-size: 30px;
}

.profile {
    flex: 0 1 0;
}

.profile img {
    max-height: 400px;
    max-width: 300px;
}

/*Media Queries*/